
/* cummon-css */

html{
	font-size: 16px;
}
.content {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .content {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .content {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .content {
    max-width: 1140px;
  }
}

.slider-init{
	display: none;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.c-c{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.c-sb{
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.c-sa{
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
.c-s{
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}
.s-s{
	display: flex;
	justify-content: flex-start;
	align-content:  flex-start;
	align-items:  flex-start;
}
.c-e{
	display: flex;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
}


/* typography */
.wf-active body{
	font-family: 'Muli';
}
body .h1{
	font-weight: 700;
	word-spacing: -0.9px;
	font-size: 2.75rem;
	line-height: 1;
}
.wf-active h1.h1{
	font-family: 'Muli';
	font-style: normal;
	font-size: 2.75rem;
	line-height: 1;
	font-weight: 800;
	color: #121118;
	}
.sub-title{
	color: #121118;
	font-style: normal;
	font-weight: 600;
font-size: 1.25rem;
line-height: 1.25;
}
.inline--title{
	font-weight: 800;
	font-size: 1.75rem;
	line-height: 1.2;
}
.centured--title{
	text-align: center;
	margin: 0 auto;
}
.title--s{
	max-width: 396px;
}
.title--l{
	max-width: 678px;
}



/* hero-slider */
.slide-wrapper{
	max-width: 1280px;
	margin: 0 auto;
}
.hero-slides{
	background: #F9F9F9;
	padding-top:3rem;
	padding-bottom: 5rem;
}
.hero-slider{
	width: 100%;
	max-width: 100%;
	flex: 0 0 100%;
	position: relative;
}
.slide-inner{
	display: flex;
	flex-wrap: wrap;

}
.slide-left{
	width: 50%;
	max-width: 50%;
	flex: 0 0 50%;
	padding: 0 10px;
}
.slide-right{
	width: 50%;
	max-width: 50%;
	flex: 0 0 50%;
	padding: 0 10px;
}
.slide-left--inner{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
	height: 100%;
}
.slide-left--inner > *{
	max-width: 574px;
}
.btn{
	padding: 0.75rem 2.75rem;
	font-size: 1rem;
	font-weight: 800;
	text-transform: uppercase;
	border-radius: 3px;
	border: none;
	outline: none;
}
.hero-cta{
	background: #FFA101;
	color: #fff;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
	margin-top: 2.25rem;
	transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-property:box-shadow;
}
.btn-wrapper{
	
}
/* .hero-cta:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-20%);
	background: url('../img/decore/wave.svg') repeat-x; 
	background-size: cover;
	animation: wave 35s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite alternate;
	z-index: 200;
	transition: 600ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-property:transform,opacity;
	opacity: 0.35;
} */
.hero-cta:hover:after{
	transform: translate(-50%,-110%) scale(2.2);
	opacity: 0.15;
}
.hero-cta:hover{
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
	cursor: pointer;

}
@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
		background-position-x: -1600px;
  }
}
.slide-left .h1{
	margin-bottom: 2.25rem;
}

.slide-left ol {
  list-style: none;
	counter-reset: counter;
	padding: 0;
	font-weight: 600;
	margin-bottom: 0;

}
.slide-left ol > li {
	counter-increment: counter;
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	padding-left: 2.25rem;
	position: relative;
}
.slide-left ol > li:last-child{
	margin-bottom: 0;
}
.slide-left ol > li::before {
	content: "0" counter(counter) ". ";
  color: #FFA101;
	font-weight: 800;
	position: absolute;
	left: 0;
	top: 0;
}
.dots{
	position: absolute;
	width: 100%;
	bottom: 1rem;
	display: flex;
	justify-content: center;
}
.dots__item{
	outline: none;
	border:none;
	width: 0.5rem;
	height: 0.5rem;
	flex: 0 0 0.5rem;
	margin: 0.3rem;
	padding: 0;
	border-radius: 0.5rem;
	background: rgba(255, 161, 1,0.3);
	transition: 250ms ease-in;
	transition-property:background;
}
.dots__item--active{
	background: rgba(255, 161, 1,1);
}



/* feature */
.feature{
	margin-top: 3.25rem;
}
.feature-card{
	padding: 0 10px;
	flex: 0 0 33.33%;
	width: 100%;
	max-width: 33.33%;
	margin-bottom: 1.5rem;
}
.card--img{
	background: #FFEED1;
border-radius: 3px;
margin-bottom: 1rem;
}
.light-blue{
	background: #D5E9FA;;
}
.card--img img{
	width: 100%;
}
.card--title{
	max-width: 278px;
}
.feature-title {
	margin-bottom: 2.5rem;
}
@keyframes placeHolder{
	0%{
			background-position: -468px 0
	}
	100%{
			background-position: 468px 0
	}
}
@keyframes lazyFade{
	0%{
		opacity: 0;
		transform: scale(0.95);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}
.anim-fade{
	animation:lazyFade 200ms ease-in;
}
.lazy {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolder;
	animation-timing-function: linear;
	background: #F6F6F6;
	background: linear-gradient(to right, rgba(255, 255,255,0.2) 8%, rgba(255, 255,255,0.6) 18%, rgba(255, 255,255,0.2) 33%);
	background-size: 800px 104px;
	position: relative;
}