/* feature */

.feature {
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.feature h2 {
    width: 512px;
    max-width: 100%;
    margin-bottom: 2rem;
}

.feature h3 {
    margin-bottom: 0;
}

.feature-text>* {
    color: #6e4a33!important;
}

.feature-card {
    border-radius: .75rem;
    background: #ffeed1!important;
    flex: 0 0 15%;
}

@media(min-width:1640px) {
    .feature-card {
        width: 314px;
        flex: 0 0 314px;
    }
}

@media(min-width:1024px) and (max-width:1640px) {
    .feature-card {
        width: 260px;
        flex: 0 0 260px;
    }
}

.feature-card+.feature-card {
    margin-left: .5rem;
}

.feature-card img {
    width: 100%;
}

.feature-text {
    padding: 1.5rem 1rem 0rem 1rem;
}

.fc-1 {
    background-color: #00c48c;
}

.fc-1 .h3 {
    max-width: 15ch;
}

.fc-2 {
    background-color: #fd0;
}

.fc-2 .feature-text {
    color: #6e4a33;
}

.fc-3 {
    background-color: #01c854;
}

.fc-4 {
    background-color: #66b5f8;
}

.fc-5 {
    background-color: #0084f4;
}

.fc-6 {
    background-color: #ff647c;
}

.fc-7 {
    background-color: #be52f2;
}

.fc-7 h3 {
    max-width: 15ch;
}

.feature-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.feature-points {
    overflow: hidden;
}


/* .feature-points:hover .feature-list {
    animation-play-state: paused;
} */

.feature-list {
    display: flex;
    animation: autoslide 18000ms linear infinite;
    animation-fill-mode: both;
}

@media(min-width:1640px) {
    .feature-list {
        animation: autoslide 25s linear infinite;
    }
    @keyframes autoslide {
        0% {
            transform: translate3d(0%, 0px, 0px);
        }
        100% {
            transform: translate3d(-2254px, 0px, 0px);
        }
    }
}

@media(min-width:320px) and (max-width:1640px) {
    .feature-list {
        animation: autoslide 35s linear infinite;
    }
    @keyframes autoslide {
        0% {
            transform: translate3d(0%, 0px, 0px);
        }
        100% {
            transform: translate3d(-1876px, 0px, 0px);
        }
    }
}

.m-0 {
    margin: 0;
}

.green-label {
    color: #01c854;
}

.label-strong {
    font-weight: 600;
}

.grow-sales {
    margin-top: 5rem;
}

.cta-row-button {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
}

.cta-block {
    position: relative;
    max-width: 1680px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1.25rem;
    background: #ffa101;
}

.cta-block .content {
    position: relative;
    z-index: 10;
}

.cta-block .cta-button {
    white-space: nowrap;
}

.cta-button {
    font-size: 1rem;
    font-weight: 800;
    margin: 0 .5rem;
    padding: .5rem 1.75rem;
    border: none;
    border-radius: 3px;
    outline: none;
}

.cta-title {
    margin-right: 2rem;
    margin-bottom: 0;
}

.cta-text {
    font-size: .9rem;
    font-weight: 400;
    margin-top: 1.25rem;
}


/* tailored-inner */

.tailored,
.eccomerce {
    margin-top: 7rem;
}

.tailored {
    overflow: hidden;
}

.tailored-title,
.tailored-sub {
    width: 464px;
    max-width: 100%;
}

strong {
    font-weight: 800;
}

.tailored-title {
    margin-bottom: 1.25rem;
}

.tailored-tab-select {
    padding: 1rem;
}

.tailored-tab-select-inner {
    position: relative;
    padding: 1rem;
    user-select: none;
    transition: 200ms ease-in;
    transition-property: background;
}

.tailored-tab-select-inner:hover {
    cursor: pointer;
    background: #f9f9f9;
}

.tailored-select {
    margin-bottom: 1rem;
}

.tailored-tab-select-inner.active {
    border-radius: .5rem;
    background: #ffeed1;
    background: #fff8ec;
    /* box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04); */
}

.tailored-tab-select-inner.active .tailored-tab-descr {
    color: #ffa101;
}

.tailored-selects {
    margin-top: 3rem;
    padding-right: 3rem;
}

.tailored-tab-descr {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.25;
    margin: 0;
    margin-left: 1rem;
    transition: 200ms ease-in;
    transition-property: color;
}

.tailored-tab-image {
    margin-bottom: 1rem;
    border-radius: 1rem;
    background: #ffeed1;
}

.tailored-tab-image img {
    width: 100%;
}

.list-custom {
    list-style: none;
}

.list-custom>li {
    position: relative;
    margin-bottom: .65rem;
}

.list-custom>li::before {
    position: absolute;
    top: .5rem;
    left: -1rem;
    width: .5rem;
    height: .5rem;
    content: '';
    border-radius: 1rem;
}

.list-custom.col-list {
    padding-left: 1rem;
}

.list-custom.color-main>li::before {
    background: #ffa101;
}

.list-custom.color-green>li::before {
    background: linear-gradient(180deg, #01c854 0%, #01e45f 100%);
}

.tailored-tab {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    width: calc(100% - 16px);
}

.tailored-tab.active {
    position: relative;
    z-index: 10;
    visibility: visible;
    width: 100%;
}

.tailored-tab.active .tailored-tab-text {
    animation: fadeDown 500ms cubic-bezier(.65, 0, .076, 1);
}

.tailored-tab.active .tailored-tab-image {
    animation: lazyFade 500ms cubic-bezier(.65, 0, .076, 1);
}

@keyframes fadeDown {
    0% {
        transform: translate(0, -1rem);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.tab-progress-indicator {
    height: .25rem;
    background-color: rgba(255, 161, 1, .3);
    /* transition: width liner; */
}

.tab-progress {
    position: absolute;
    bottom: -.25rem;
    left: 0;
    width: 100%;
    transition: opacity 100ms ease-in;
    opacity: 0;
    background-color: rgba(255, 161, 1, .1);
}

.tailored-tab-select-inner.active .tab-progress {
    opacity: 1;
}


/* ecommerce */

.eccomerce {
    margin-bottom: 7rem;
}

.ofset-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem 0;
    background: #f9f9f9;
}

.eccomerce-lists {
    margin-top: 2rem;
}

.eccomerce-img {
    position: absolute;
    right: -24px;
    bottom: -30%;
}

.eccomerce-img img {
    width: 100%;
    max-width: 383px;
}

.load-image {
    height: 30px;
}

.load-images {
    margin-left: 1rem;
}

.load-image {
    margin: 0 .25rem;
}

.load-image img {
    width: auto;
    height: 100%;
}

.ecommerce-load-inner {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: #fff;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.circles li {
    position: absolute;
    bottom: -150px;
    display: block;
    width: 20px;
    height: 20px;
    list-style: none;
    animation: animate 25s linear infinite;
    background: rgba(255, 255, 255, .3);
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-duration: 12s;
    animation-delay: 2s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 18s;
    animation-delay: 0s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-duration: 25s;
    animation-delay: 15s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-duration: 15s;
    animation-delay: 2s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-duration: 20s;
    animation-delay: 0s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-400px) rotate(520deg);
        opacity: 0;
        border-radius: 50%;
    }
}


/* .online */

.tabs-imges {
    position: relative;
}

.online {
    margin-top: 5rem;
}

.online .h2 {
    max-width: 18ch;
    margin-bottom: 1.25rem;
}

.online .row {
    align-items: center;
}

.online .h4 {
    max-width: 36ch;
    margin-bottom: 2rem;
}

.chat-select {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    visibility: hidden;
}

.chat-select img {
    width: 100%;
    max-width: 420px;
}

.chat-select.active {
    position: relative;
    visibility: visible;
    animation: lazyFade 500ms cubic-bezier(.65, 0, .076, 1);
}

.select-tab {
    color: #abadb2;
    padding: 0;
    padding: .25rem .5rem;
    transition: 200ms ease-in;
    transition-property: color;
    border: none;
    background: transparent;
    fill: #abadb2;
}

.select-tab:focus {
    outline: none;
}

.tab-select {
    margin-bottom: 1rem;
}

.tab-select-inner {
    position: relative;
}

.tab-select-indicator {
    position: absolute;
    bottom: -6px;
    width: 100%;
}

.indicator-inner {
    position: relative;
    height: 4px;
    border-radius: 4px;
    background: #d1d7e0;
}

.indicator {
    position: absolute;
    top: 0;
    width: 50%;
    height: 4px;
    transition: 200ms ease-in;
    transition-property: left, background;
    border-radius: 4px;
}

[data-indicator='whatsap'].indicator {
    left: 0;
    background: #4fce5d;
}

[data-indicator='telegram'].indicator {
    left: 50%;
    background: #08c;
}

.tab-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .5rem;
}

.tab-icon svg {
    width: 100%;
    transition: 200ms ease-in;
    transition-property: fill;
}

[data-target='whatsap'].select-tab.selected {
    color: #4fce5d;
    fill: #4fce5d;
}

[data-target='telegram'].select-tab.selected {
    color: #08c;
    fill: #08c;
}


/* marketplaces */

.marketplace {
    position: relative;
    margin-top: 4rem;
}

.marketplace .content {
    position: relative;
}

.marketplace .content::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    content: '';
    border-radius: 1rem;
    background: #f9f9f9;
}

.marketplace h2 {
    max-width: 20ch;
    margin-bottom: 3.5rem;
    padding-top: 3rem;
    text-align: center;
}

.mark-icon {
    width: 3.25rem;
    height: 3.25rem;
    margin-bottom: 1rem;
}

.mark-icon img {
    width: 100%;
}

.mark-img {
    margin-top: 2rem;
}

.mark-img img {
    width: 100%;
    max-width: 800px;
}


/* price */

.price {
    margin-top: 5rem;
}

.toggle-wrapper {
    position: relative;
}

.toggle-wrapper label {
    margin-bottom: 0;
}

.toggle-wrapper input.tgl {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: .1px;
    height: .1px;
    opacity: 0;
}

.tgl-btn-indicator:after {
    position: absolute;
    top: 50%;
    content: '';
    transform: translate(0, -50%);
}

.tgl-btn-indicator {
    position: relative;
    z-index: 1;
    left: 0;
    display: block;
    width: 3.2rem;
    height: 1.9rem;
    margin-right: .5rem;
    margin-left: .5rem;
    cursor: pointer;
    user-select: none;
    transition: 200ms cubic-bezier(.175, .885, .32, 1.275);
    transition-property: background;
    border-radius: 2.9rem;
    outline: 0;
    background: #e6e6e6;
}

.tgl-btn-indicator:after {
    z-index: 5;
    left: .25rem;
    width: 1.5rem;
    height: 1.5rem;
    transition: 200ms ease-in;
    border-radius: 1.5rem;
    background: #fff;
}

.tgl:checked+.tgl-btn .tgl-btn-indicator:after {
    left: 1.45rem;
}

input.tgl:active:checked+.tgl-btn .tgl-btn-indicator:after {
    width: 2rem;
    transform: translate(-.5rem, -50%);
}

input.tgl:active+.tgl-btn .tgl-btn-indicator:after {
    width: 2rem;
}

input.tgl:checked+.tgl-btn .tgl-btn-indicator {
    background: #00c48c;
}

input.tgl:not(:checked)+.tgl-btn .tgl-label-text:last-child {
    color: #8c98a4;
}

input.tgl:checked+.tgl-btn .tgl-label-text:last-child {
    color: #000;
}

input.tgl:checked+.tgl-btn .tgl-label-text:first-child {
    color: #8c98a4;
}

.tgl-label-text {
    cursor: pointer;
    user-select: none;
    transition: 200ms ease-in;
    transition-property: color;
}

.price-toggle {
    position: relative;
    display: flex;
    margin-top: 1rem;
    padding-top: 2.5rem;
    flex: 0 0 100%;
}

.arrow-label {
    position: relative;
}

.arrow-block {
    position: absolute;
    top: 0;
    left: 14%;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 0;
    width: 28px;
    transform: translate(-110%, 0);
}

.arrow-label span {
    color: #fff;
    font-size: 11px;
    font-weight: 800;
    padding: 4px 10px;
    letter-spacing: 1px;
    border-radius: 1rem;
    background: #00c48c;
}

ul.plan-features>li {
    font-size: .9rem;
    margin-bottom: .5rem;
}

ul.plan-features>li:last-child {
    margin: 0;
}

.plane-price {
    color: #ffa101;
    font-size: 1.5rem;
    font-weight: 600;
}

.plan-sub {
    color: #ffa101;
    font-size: .9rem;
    font-weight: 600;
}

.price-head {
    margin-bottom: .75rem;
}

.plan-name {
    line-height: 1.15;
    margin-bottom: 1rem;
}

.plan-features {
    margin-bottom: 1.5rem;
}

.plan-icon {
    width: 2rem;
    height: 2rem;
}

.plan-icon img {
    width: 100%;
}

.plan-icon+.plan-icon {
    margin-left: .5rem;
}

.price .pcs-3 {
    transition: 200ms ease-in;
    transition-property: background;
}

.price-table {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: .5rem;
    padding-top: 3.5rem;
    padding-bottom: 1.25rem;
    justify-content: space-between;
    align-items: flex-start;
}

.price-selected {
    background: #f9f9f9;
}

.get-plane {
    width: 100%;
    margin-top: 1rem;
}

.price-label {
    color: #fff;
    font-size: 11px;
    font-weight: 800;
    position: absolute;
    top: 1rem;
    left: .5rem;
    padding: 4px 10px;
    transition: 200ms ease-in;
    transition-property: opacity;
    opacity: 0;
    border-radius: 1rem;
    background: #222;
}

.get {
    color: #fff;
    font-size: .9rem;
    line-height: 1;
    margin: 0 auto;
    padding: .75rem 1.5rem;
    transition: 200ms ease-in;
    transition-property: opacity, transform;
    opacity: 0;
    border: none;
    border-radius: 3px;
    background: #222;
}

.get:hover {
    transform: translate(0, -3px) scale(1.06);
}

.price-selected .get {
    opacity: 1;
}

.price-selected .price-label {
    opacity: 1;
}

.prices-wrapper {
    height: auto;
    max-height: none;
    margin-top: 1rem;
    transition: .2s ease-out;
    transition-property: height;
}

.addons-label {
    color: #00c48c;
    font-size: .8rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: .65rem;
}

.addons {
    margin-right: -.5rem;
    margin-bottom: 1.5rem;
    margin-left: -.5rem;
    padding: .5rem;
    background: #ddf9f1;
}

.price-tables {
    display: none;
    pointer-events: none;
}

.price-tables.active {
    display: block;
    animation: priceFade 300ms ease-in forwards;
    pointer-events: all;
    opacity: 0;
}

@keyframes priceFade {
    0% {
        transform: scale(.97);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.addons .plan-features {
    margin-bottom: 0;
}


/* .timeline */

.timeline {
    margin-top: 6rem;
}

.tasks-wrapper {
    transition: 200ms ease-in;
    transition-property: height;
}

.sprints {
    display: flex;
    margin-top: 2rem;
}

.time-number {
    font-size: 1rem;
    font-weight: 800;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: .5rem;
    border-radius: .25rem;
    background: #f9f9f9;
    flex: 0 0 2.25rem;
}

.sprint-name {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 1rem;
    transition: 200ms ease-in;
    transition-property: color;
}

.spint-time {
    margin-bottom: 1.25rem;
    transition: 200ms ease-in;
    transition-property: color;
}

.sprint {
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition: 200ms ease-in;
    transition-property: background;
    border: 2px solid #f5f5f5;
    border-radius: .5rem;
}

.sprint-inner {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 100%;
    padding: 1rem .8rem;
    justify-content: flex-start;
}

.sprint+.sprint {
    margin-left: 1rem;
}

.time-name {
    transition: 200ms ease-in;
    transition-property: color;
}

.sprint-prog {
    margin-top: .6rem;
    margin-top: auto;
}

.sprint-count {
    font-size: .9rem;
    font-size: .8rem;
    font-weight: 600;
    width: 2.5rem;
    transition: 200ms ease-in;
    transition-property: color;
    text-align: right;
}

.sprint-line {
    width: calc(100% - 1rem);
    height: 6px;
    transition: 200ms ease-in;
    transition-property: background;
    border-radius: 6px;
    background: #f9f9f9;
}

.line-dot {
    width: 6px;
    height: 6px;
    transition: 200ms ease-in;
    transition-property: background;
    border-radius: 6px;
}

.sprint-1 .line-dot,
.sprint-1.active,
.sprint-1.active:hover,
[data-sprint='sprint-1'] .performer-icon,
[data-sprint='sprint-1'] .add-task {
    background: #be52f2;
}

.sprint-1 .sprint-count {
    color: #be52f2;
}

.sprint-2 .line-dot,
.sprint-2.active,
.sprint-2.active:hover,
[data-sprint='sprint-2'] .performer-icon,
[data-sprint='sprint-2'] .add-task {
    background: #ffbd4d;
}

.sprint-2 .sprint-count {
    color: #ffbd4d;
}

.sprint-3 .line-dot,
.sprint-3.active,
.sprint-3.active:hover,
[data-sprint='sprint-3'] .performer-icon,
[data-sprint='sprint-3'] .add-task {
    background: #ffa26b;
}

.sprint-3 .sprint-count {
    color: #ffa26b;
}

.sprint-4 .line-dot,
.sprint-4.active,
.sprint-4.active:hover,
[data-sprint='sprint-4'] .performer-icon,
[data-sprint='sprint-4'] .add-task {
    background: #ff647c;
}

.sprint-4 .sprint-count {
    color: #ff647c;
}

.sprint-5 .line-dot,
.sprint-5.active,
.sprint-5.active:hover,
[data-sprint='sprint-5'] .performer-icon,
[data-sprint='sprint-5'] .add-task {
    background: #00c48c;
}

.sprint.active .time-number {
    background: #fff;
}

.sprint.active .time-name,
.sprint.active .sprint-name,
.sprint.active .sprint-count {
    color: #fff;
}

.sprint.active .sprint-line {
    background: rgba(255, 255, 255, .3);
}

.sprint.active .sprint-prog .line-dot {
    background: #fff;
}

.sprint-5 .sprint-count {
    color: #00c48c;
}

.performer-icon {
    color: #fff;
    font-size: .7rem;
    font-weight: 800;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
    border-radius: 1.5rem;
    flex: 0 0 1.5rem;
}

.task-name {
    font-weight: 600;
    margin-bottom: .5rem;
}

.sprint-task {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: .5rem;
    padding-left: .75rem;
    border-radius: .25rem;
    justify-content: space-between;
}

[data-sprint='sprint-1'] .sprint-task,
.sprint-1:hover {
    background: #fdf6ff;
}

[data-sprint='sprint-2'] .sprint-task,
.sprint-2:hover {
    background: #fff9ec;
}

[data-sprint='sprint-3'] .sprint-task,
.sprint-3:hover {
    background: #fff3ec;
}

[data-sprint='sprint-4'] .sprint-task,
.sprint-4:hover {
    background: #fff0f2;
}

[data-sprint='sprint-5'] .sprint-task,
.sprint-5:hover {
    background: #dcfff5;
}

.task-line .row {
    margin-top: .5rem;
}

.add-task {
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    margin-left: 1rem;
    padding: .35rem 1rem;
    transition: ease-in 200ms;
    transition-property: opacity;
    border: none;
    border-radius: .2rem;
}

.add-task:hover {
    opacity: .75;
}

.title-sprint {
    margin-top: 2rem;
    justify-content: center;
}

.sprint-tasks {
    display: none;
    margin-top: 2rem;
    pointer-events: none;
    opacity: 0;
}

.sprint-tasks.active {
    display: block;
    animation: priceFade 300ms ease-in forwards;
    pointer-events: all;
}

@keyframes priceFade {
    0% {
        transform: scale(.97);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* contucts */

.contacts {
    margin-top: 7rem;
}


/* .country-btn {
    position: relative;
    overflow: hidden;
    border-radius: 0.3rem;
    border: none;
} */

.cont-img {
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    transition: 200ms ease-in;
    transition-property: transform;
    transform-origin: center;
    border-radius: 2rem;
    flex: 0 0 2rem;
}

.cont-img img {
    height: 100%;
    transform: translate(-12.5%, 0);
}

.cont-link {
    color: #222;
    font-size: 1.25rem;
    font-weight: 600;
    position: relative;
}

.cont-link:before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    content: '';
    border-radius: 2px;
    background: #ffa101;
}

.cont-link:hover {
    color: #ffa101;
}

.conuntry-name {
    font-size: 1.75rem;
    font-weight: 800;
}

.place-name {
    color: #222;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
}

.contacts_label {
    font-size: .9rem;
    line-height: 1;
}

.contucts_info {
    margin-bottom: 1rem;
}

.contacts_line+.contacts_line {
    margin-left: 2rem;
}

.country+.country {
    margin-left: 1rem;
}

.country-btn {
    color: #8c98a4;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1;
    padding: 0;
    padding-right: 1rem;
    transition: 200ms ease-in;
    transition-property: color, background;
    border: none;
    border-radius: 2.5rem;
    background: #f9f9f9;
}

.country-btn:hover {
    color: #222;
}

.country-btn:focus {
    outline: none;
}

.country-btn:hover .cont-img {
    transform: scale(1.1);
}

.country-btn.active {
    color: #222;
    opacity: 1;
    background: #ffeed1;
}

.countrys {
    margin-bottom: 1rem;
}

.country_info {
    display: none;
}

.country_info.active {
    display: block;
    animation: priceFade 200ms ease-in forwards;
}

.map {
    width: 100%;
    height: 330px;
    margin-bottom: 4rem;
}

.map-container [class*='ts-'] {
    padding: 0;
}

.map-container [class*='ymaps-2'][class*='-ground-pane'] {
    /* Google Chrome & Safari 6+ */
    opacity: .4;
    filter: grayscale(100%);
    filter: url(/img/filters.svg#grayscale);
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(1);
}

.map-container [class*='map-copyrights-promo'],
.map-container [class*='copyright'] {
    display: none !important;
}


/* input */

.modal {
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transform: scale(.9);
    opacity: 0;
    background: #fff;
}

.modal-will-active {
    transition: 200ms ease-out;
    transition-property: transform, opacity, visibility;
}

.inp {
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: .75rem;
    border-radius: 3px;
}

.inp .label {
    color: #353541;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 1.125rem;
    left: 1.125rem;
    transition: all .2s ease;
    transform: translate3d(0, 0, 0);
    transform-origin: 0 0;
    pointer-events: none;
}

.inp input {
    color: #353541;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    height: 4rem;
    padding: 1rem 1.125rem 0 1.125rem;
    transition: all .15s ease;
    border: 0;
    border: 1px solid #e8e8e8;
    border-radius: .125rem;
    box-shadow: 0 0 0 .5px transparent;
}

.inp input:hover {
    background: rgba(0, 0, 0, .01);
}


/* .inp input:not(:placeholder-shown) + .label{
  transform: translate3d(0, -0.75rem, 0) scale(0.75);
} */

.inp input:not([value=''])+.label {
    transform: translate3d(0, -.75rem, 0) scale(.75);
}

.inp input:focus {
    border: 1px solid #ffa101;
    outline: none;
    box-shadow: 0 0 0 .5px #ffa101;
}

.inp input:focus+.label {
    color: #ffa101;
    transform: translate3d(0, -.75rem, 0) scale(.75);
}


/* form-textarea */

.form-textarea .input-textarea {
    color: #353541;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    width: 100%;
    height: 7rem;
    padding: 1.5rem 1.125rem 0 1.125rem;
    resize: none;
    transition: all .15s ease;
    border: 1px solid #e8e8e8;
    border-radius: .125rem;
    box-shadow: 0 0 0 .5px transparent;
}

.inp textarea:hover {
    background: rgba(0, 0, 0, .01);
}

.inp textarea:not([value=''])+.label {
    transform: translate3d(0, -.75rem, 0) scale(.75);
}

.inp textarea:focus {
    border: 1px solid #ffa101;
    outline: none;
    box-shadow: 0 0 0 .5px #ffa101;
}

.inp textarea:focus+.label {
    color: #ffa101;
    transform: translate3d(0, -.75rem, 0) scale(.75);
}

.submit-text {
    font-size: .8rem;
    display: block;
    margin-bottom: 2rem;
}

.inline-link {
    color: #ffa101;
    transition: 200ms ease-in;
    transition-property: border-bottom, opacity;
    opacity: 1;
    border-bottom: 1px solid #ffa101;
}

.inline-link:hover {
    color: #ffa101;
    text-decoration: none;
    opacity: .7;
    border-bottom: 1px solid transparent;
}

.quote-inner {
    margin-top: 5rem;
    padding: 1.5rem;
    border-radius: .5rem;
    background: #fff8e7;
}

.quote-text {
    color: #6e4a33;
    font-size: 1.2rem;
    font-weight: 400;
}

.form-header-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.quote-name {
    color: #6e4a33;
    font-size: 1rem;
    font-weight: 800;
    display: block;
}

.sub-title {
    font-size: 1rem;
    font-weight: 800;
}

.author-img {
    width: 3rem;
    height: 3rem;
    margin-right: .75rem;
    flex: 0 0 3rem;
}

.company-logo {
    width: 3rem;
    margin-bottom: .5rem;
}

.author-img img,
.company-logo img {
    width: 100%;
}

.quote-reg {
    color: #6e4a33;
    font-size: .9rem;
    display: block;
}

.modal-quote {
    width: 100%;
    max-width: 40%;
    padding-left: 2rem;
    flex: 0 0 40%;
}

.form {
    position: relative;
    width: 100%;
    max-width: 60%;
    padding-right: 1rem;
    flex: 0 0 60%;
}

.modal-header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 150;
}

.modal-inner {
    position: relative;
    display: flex;
    padding-top: 3rem;
    flex-wrap: wrap;
}

.close-modal {
    position: relative;
    z-index: 99;
    padding: .375rem;
    transition: 200ms ease-in;
    transition-property: background;
    border: none;
    border-radius: .25rem;
    background: #f5f7f9;
}

.close-modal svg {
    transition: 200ms ease-in;
    transition-property: stroke;
    stroke: #222;
}

.close-modal:hover {
    background: #fe6963;
}

.close-modal:hover svg {
    stroke: #fff;
}

.modal.visible {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.modal-dealog {
    position: relative;
    width: auto;
    margin: 1.75rem auto;
    pointer-events: none;
}

.modal-dealog .content {
    pointer-events: all;
}

.after-submit {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    width: 100%;
    height: 100%;
    transition: 200ms ease-out;
    transition-property: transition, visibility, opacity;
    transform: translate(0, 10px);
    opacity: 0;
    background: #fff;
}

.visible .after-submit.submited {
    visibility: visible;
    transform: translate(0, 0px);
    opacity: 1;
}

.after-submit-inner {
    flex-direction: column;
    max-width: 320px;
}

.after-submit-title,
.after-submit-descr {
    text-align: center;
}

.after-submit .bg-icon {
    margin-bottom: 2rem;
}

.submit-button {
    width: 100%;
    padding: 1.25rem;
}

#cookie-law-info-bar {
    color: rgb(0, 0, 0);
    font-size: 12pt;
    font-weight: 300;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    display: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 13px 10px;
    text-align: center;
    background: #fff;
    box-shadow: rgb(0 0 0 / 50%) 0 5px 50px;
}

#cookie-law-info-bar span {
    vertical-align: middle;
}

#cookie-law-info-bar a {
    color: #337ab7;
    text-decoration: none;
}

#cookie-law-info-bar a#cookie_action_close_header {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    margin-left: 30px;
    padding: 10px 16px 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(21, 31, 48);
}

footer {
    color: #b3b3b3;
    font-size: 13px;
    padding: 24px 0;
    background: #192436;
}

footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

footer .links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

footer .links>*+* {
    margin-left: 80px;
}

footer .links a {
    color: currentColor;
    transition: color .2s linear;
    text-decoration: none;
}

footer .links a:hover {
    color: #fff;
}